@import url("https://use.typekit.net/ywr7dtl.css");
@font-face {
  font-family: michelle;
  src: url(./../public/fonts/michelle.otf);
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: dashiell-fine, serif;
  background-color: #f8f7ff;
  // font-family: michelle;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
