@import 'mixins';

.hero {
    margin-top: -137.5px;
    display: flex;
    height: 100vh;
    flex-direction: row;
    background-image: url(./../public/hero.png);
    background-color: #1e1e24; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    @include phone {
        background-position: right bottom;
        height: 90vh;
        margin-top: -80px;

    }
    
    .heroText {
        margin-top: 50px;
        padding:  0px 50px ;
        color: #f8f7ff;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        font-weight: 500;
        font-size: 500%;
        @include phone {
            font-size: 200%;
        }
    }
}

.aboutMeSection {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
    .aboutMeWrap {
        width: 80%;
        display: flex;
        flex-direction: column;
        @include phone {
            width: 90%;
        }
        .aboutMeInfoContainer {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            @include phone {
                flex-direction: column;

            }
            .aboutMeText {
                width: 75%;
                font-size: 18px;
                @include phone {
                    font-size: 12px;
                    width: 100%;

                }
            }
            .aboutMeImages {
                padding: 10px;
                width: 20%;
                @include phone {
                    display: flex;
                    flex-direction: row;
                    width: 100%;

                }

            }
        }
    }
}
.galleriCardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
    .galleriCardWrapper {
        width: 80%;
        display: flex;
        flex-direction: column;
        @include phone {
            width: 90%;
        }
        
    }
    .horizontalImagesContainer {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        .horizontalImagesWrapper{
            width: 90%;
            overflow: auto;
            white-space: nowrap;
            .testdiv{
                background-color: black;
                width: 300px;
                height: 300px;
                display: inline-flex;
                margin: 10px;
                align-items: center;
                justify-content: center;
            }
        }
        
    }
}
.footer {
    padding: 30px 0px;
    display: flex;
    justify-content: center;
    ul {
        width: 20%;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: space-evenly;
        @include phone {
            width: 50%;

        }

        li {
            div {
                font-size: 150%;
                color: #1e1e24;
            }
        }
    }
}