@import 'mixins';

.hero {
	margin-top: -20px;
	display: flex;
	height: 100vh;
	flex-direction: row;
	background-image: url(./../public/hero.png);
	background-color: #1e1e24;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	@include phone {
		background-position: right bottom;
		height: 90vh;
		margin-top: -90px;
	}

	.heroText {
		margin-top: 50px;
		padding: 0px 50px;
		color: #f8f7ff;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		font-weight: 500;
		font-size: 500%;
		@include phone {
			font-size: 200%;
		}
	}
}

.aboutMeSection {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px 0px;
	.aboutMeWrap {
		width: 80%;
		display: flex;
		flex-direction: column;
		@include phone {
			width: 90%;
		}
		.aboutMeInfoContainer {
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			justify-content: space-between;
			@include phone {
				flex-direction: column;
			}
			.aboutMeText {
				margin: 10px 0px;
				width: 65%;
				font-size: 18px;
				@include phone {
					font-size: 12px;
					width: 100%;
				}
			}
			.aboutMeImages {
				padding: 10px;
				width: 25%;
				@include phone {
					display: flex;
					flex-direction: row;
					width: 100%;
				}
				span {
					@include phone {
						width: 100% !important;
					}
				}
			}
		}
	}
}
.galleriCardContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 30px 0px;

	.galleriCardWrapper {
		width: 80%;
		display: flex;
		flex-direction: column;
		@include phone {
			width: 90%;
		}
	}
	.horizontalImagesContainer {
		display: flex;
		justify-content: flex-end;
		width: 100%;
		padding: 50px 0px;
		.horizontalImagesWrapper {
			width: 90%;
			overflow: auto;
			white-space: nowrap;
			.border {
				border: 3px solid #1e1e24;
			}
			.imgContainer {
				position: relative;
				background-color: #1e1e24;
				width: 300px;
				height: 300px;
				display: inline-flex;
				margin-right: 20px;
				align-items: flex-end;
				justify-content: center;
				@include phone {
					width: 250px;
					height: 250px;
				}
				img {
					width: 100%;
				}
				a {
					padding: 100px 0px;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					cursor: pointer;
					color: #f8f7ff;
					font-size: 25px;
					font-weight: 500;
				}
			}
		}
	}
}
