@import 'mixins';

.categoryButton {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    span {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 90%;
        font-size: 200%;
        
        @include phone {
            justify-content: center;
            font-size: 150%;
            
        }
    }
    
}
.dropdown {
    display: flex;
    justify-content: center;
    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
        width: 90%;
        margin: 0;
        padding: 0;
        li {
            width: 50%;
            border: 2px solid #f8f7ff;
            padding: 10px 20px;
            cursor: pointer;
            background-color: #1e1e24;
            color: #f8f7ff;
            font-size: 150%;
            @include phone {
                font-size: 100%;

            }
        }
    }
}
.articlesWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
    .articlesContainer {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        @include phone {
            flex-direction: column;
            align-items: center;
        }
        .articleContainer {
            margin: 30px;
            width: 20%;
            display: flex;
            flex-direction: column;
            @include phone {
                width: 95%;
                flex-direction: column;
            }
            .articleImage{
                width: 100%;
            }
            .articleTitle{
                font-weight: 500;
                font-size: 150%;
                padding: 10px 0px;
            }
            div {
                display: flex;
                justify-content: space-between;
                .articlePrice {
                    font-size: 130%;
                }
                .shopButton {
                    border: none;
                    padding: 5px 10px;
                    border-radius: 10px;
                    background-color: #1e1e24;
                    color: #f8f7ff;
                    font-family: inherit;
                    font-size: 20px;
                }
                .shopButton:disabled {
                    border: none;
                    padding: 5px 10px;
                    border-radius: 10px;
                    background-color: #f8f7ff;
                    color: #1e1e24;
                    font-family: inherit;
                    font-size: 20px;
                }
            }
            
        }
    }
}
.pagContainer {
    display: flex;
    justify-content: center;
}